.wrapper {
    position: relative;
    height: 6em;
    width: 37em;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.string {
    height: 1px;
    background: black;
}

.fretboard__note-selector {
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid black;
    position: absolute;
    top:0;
    left:0;
}

@media(max-width:768px){
    .wrapper {
      font-size: 15px;
    }
}

@media (max-width:600px){
    .wrapper {
      font-size: 10px;
    }
}