.wrapper {
    position: relative;
    height: 6em;
    width: 37em;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.string {
    height: 1px;
    background: black;
}

.fretboard__note-selector {
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid black;
    width: 1em;
    height: 1em;
    position: absolute;
    top:0;
    left:0;
}