.note {
    background: #fff;
}

.note__wrapper {
    height: 1em;
    width: 1em;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.note__string_name {
    justify-content: start;
}